<style>
    /* Add your styles for better appearance */
    /* Example styles: */
    body {
        font-family: Arial, sans-serif;
    }

    .container {
        width: 50%;
        margin: auto;
        padding: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .registerbtn {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        width: 100%;
        cursor: pointer;
    }
</style>
<div class="container">
    <h1>Register</h1>
    <p>Please fill this form to create an account.</p>
    <hr>

    <form id="regform" th:object="${reg}" th:action="@{/admin/registers}" method="post">
        <label for="username"><b>Username</b></label>
        <input th:field="*{username}" type="text" placeholder="Enter Username" name="username" id="username" required>

        <label for="password"><b>Password</b></label>
        <input th:field="*{password}" type="password" placeholder="Enter Password" name="password" id="password"
               required>

        <!-- Add confirmation password field -->
        <label for="confirmPassword"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword" required>
        <p class="text-danger" id="conftext">Confirm password not mactched with Password</p>
        <label for="countryid"><b>Admin Country</b></label>
        <select th:field="*{countryid}" id="countryid">
            <option th:each="item : ${countrylist}" th:value="${item.id}" th:text="${item.name}">Option Text</option>
        </select>
        <label for="confirmPassword"><b>Admin Type</b></label>
        <select th:field="*{adminTypes}">
            <option th:each="item : ${rolelist}" th:value="${item.admintyID}" th:text="${item.name}">Option Text
            </option>
        </select>

        <button type="submit" id="regbtn" class="registerbtn">Register</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#conftext").hide();
        $('#countryid').selectize({
            sortField: 'text'
        });


        $("#regform").submit(function (e) {
            if ($("#confirmPassword").val() !== $("#password").val()) {
                $("#conftext").fadeIn();
                e.preventDefault();
            } else {
                $("#conftext").hide();
            }
        });

        // $("#confirmPassword").change(function (e) {
        //     if ($("#confirmPassword").val() != $("#regbtn").val()) {
        //         $("#regbtn").hide();
        //     }

        // });

    });
</script>