<div th:insert="/public/dashboard/viewdetails.html"></div>
<div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget-panel widget-style-1 bg-pink">
                <i class="mdi mdi-comment-multiple"></i> 
                <h2 class="m-0 counter text-white" th:text="${#lists.size(allcompains)}">50</h2>
                <div>Complains</div>
            </div>
        </div>

        <!-- <div class="col-md-3 col-sm-6">
            <div class="widget-panel widget-style-1 bg-warning">
                <i class="mdi mdi-cart"></i> 
                <h2 class="m-0 counter text-white">12056</h2>
                <div>Reviews</div>
            </div>
        </div> -->

    </div>
    <div th:insert="/public/comps/alerts.html"></div>
<div th:insert="/public/dashboard/dashtab.html">
</div>

</div>