<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a th:href="@{/admin/dashboard}" class="logo"> <span> <img
                src="assets/images/logo.png" alt="" height="18">
        </span> <i> <img th:src="@{/assets/images/logo_sm.png}" alt="" height="22">
        </i>
        </a>
    </div>

    <nav class="navbar-custom">

        <ul class="list-inline float-right mb-0">
            
 <!-- th:text="${user.email}" -->
            <li class="list-inline-item dropdown notification-list"><a
                class="nav-link dropdown-toggle nav-user" data-toggle="dropdown"
                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="noti-icon"><img
                        th:src="@{/assets/images/users/avatar-1.jpg}" alt="user"
                        class="img-fluid rounded-circle"></i> <span
                        
                    class="profile-username ml-2 text-dark"></span> <span
                    class="mdi mdi-menu-down text-dark"></span>
            </a>
                <div
                    class="dropdown-menu dropdown-menu-animated dropdown-menu-right profile-dropdown ">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow">
                            <small>Welcome ! John</small>
                        </h5>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle"></i> <span>Profile</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="mdi mdi-settings"></i> <span>Settings</span>
                    </a>
                    <div th:if="${admintypeid == 1}">
                        <a th:href="@{/admin/register}" class="dropdown-item notify-item">
                            <i class="mdi mdi-settings"></i> <span>Add Admin</span>
                        </a>
                    </div>
                   

                    <!-- item-->
                    <a href="/admin/logout" class="dropdown-item notify-item">
                        <i class="mdi mdi-power"></i> <span>Logout</span>
                    </a>

                </div></li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button
                    class="button-menu-mobile open-left waves-light waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
            <li class="hide-phone app-search">
               
            </li>
        </ul>

    </nav>

</div>