<div class="left side-menu">
    <div class="slimScrollDiv"
        style="position: relative; overflow: hidden; width: auto; height: 525px;">
        <div class="slimscroll-menu" id="remove-scroll"
            style="overflow: hidden; width: auto; height: 525px;">

            <!--- Sidemenu -->
            <div id="sidebar-menu" class="active">
                <!-- Left Menu Start -->
                <ul class="metismenu in" id="side-menu">
                    <li class="menu-title">Navigation</li>
                    
                    <li><a href="javascript: void(0);"><i
                            class="ion-ios-apps"></i> <span> Components </span> <span
                            class="menu-arrow"></span></a>
                        <ul class="nav-second-level collapse" aria-expanded="false">
                            <li><a href="components-grid.html">Grid</a></li>
                            <li><a href="components-portlets.html">Portlets</a></li>
                            <li><a href="components-widgets.html">Widgets</a></li>
                            <li><a href="components-nestable-list.html">Nesteble</a></li>
                            <li><a href="components-calendar.html">Calendar</a></li>
                            <li><a href="components-range-sliders.html">Range
                                    Slider</a></li>
                        </ul></li>

                    <li><a href="javascript: void(0);"><i
                            class="ion-md-paper"></i><span
                            class="badge badge-danger float-right">9</span> <span>
                                Forms </span></a>
                        <ul class="nav-second-level collapse" aria-expanded="false">
                            <li><a href="forms-elements.html">General Elements</a></li>
                            <li><a href="forms-validation.html">Form Validation</a></li>
                            <li><a href="forms-advanced.html">Advanced Form</a></li>
                            <li><a href="forms-wizard.html">Form Wizard</a></li>
                            <li><a href="forms-editor.html">WYSIWYG Editor</a></li>
                            <li><a href="forms-code-editor.html">Code Editors</a></li>
                            <li><a href="forms-uploads.html">Multiple File Upload</a></li>
                            <li><a href="forms-image-crop.html">Image Crop</a></li>
                            <li><a href="forms-xeditable.html">X-Editable</a></li>
                        </ul></li>

                    <li><a href="javascript: void(0);"><i
                            class="ion-ios-list"></i><span> Tables </span> <span
                            class="menu-arrow"></span></a>
                        <ul class="nav-second-level collapse" aria-expanded="false">
                            <li><a href="tables-basic.html">Basic Tables</a></li>
                            <li><a href="tables-datatable.html">Data Table</a></li>
                            <li><a href="tables-editable.html">Editable Table</a></li>
                            <li><a href="tables-responsive.html">Responsive Table</a></li>
                        </ul></li>

                    <li><a href="javascript: void(0);"><i class="ion-md-pie"></i><span>
                                Charts </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level collapse" aria-expanded="false">
                            <li><a href="charts-morris.html">Morris Chart</a></li>
                            <li><a href="charts-chartjs.html">Chartjs</a></li>
                            <li><a href="charts-flot.html">Flot Chart</a></li>
                            <li><a href="charts-rickshaw.html">Rickshaw Chart</a></li>
                            <li><a href="charts-peity.html">Peity Chart</a></li>
                            <li><a href="charts-c3.html">C3 Chart</a></li>
                            <li><a href="charts-other.html">Other Chart</a></li>
                        </ul></li>

                    <li><a href="javascript: void(0);"><i class="ion-md-mail"></i><span
                            class="badge badge-warning float-right">12</span> <span>
                                Mail </span></a>
                        <ul class="nav-second-level collapse" aria-expanded="false">
                            <li><a href="email-inbox.html">Inbox</a></li>
                            <li><a href="email-compose.html">Compose Mail</a></li>
                            <li><a href="email-read.html">View Mail</a></li>
                            <li><a href="email-templates.html">Email Templates</a></li>
                        </ul></li>

                    <li><a href="javascript: void(0);"><i class="ion-md-map"></i>
                            <span> Maps </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level collapse" aria-expanded="false">
                            <li><a href="maps-gmap.html"> Google Map</a></li>
                            <li><a href="maps-vector.html"> Vector Map</a></li>
                        </ul></li>

                    <li><a href="javascript: void(0);"><i class="ion-md-copy"></i>
                            <span> Pages </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level collapse" aria-expanded="false">
                            <li><a href="pages-profile.html">Profile</a></li>
                            <li><a href="pages-timeline.html">Timeline</a></li>
                            <li><a href="pages-invoice.html">Invoice</a></li>
                            <li><a href="pages-contact.html">Contact-list</a></li>
                            <li><a href="pages-login.html">Login</a></li>
                            <li><a href="pages-register.html">Register</a></li>
                            <li><a href="pages-recoverpw.html">Recover Password</a></li>
                            <li><a href="pages-lock-screen.html">Lock Screen</a></li>
                            <li><a href="pages-blank.html">Blank Page</a></li>
                            <li><a href="pages-404.html">404 Error</a></li>
                            <li><a href="pages-404_alt.html">404 alt</a></li>
                            <li><a href="pages-500.html">500 Error</a></li>
                        </ul></li>

                </ul>

            </div>
            <!-- Sidebar -->
            <div class="clearfix"></div>

        </div>
        <div class="slimScrollBar"
            style="background: rgb(158, 165, 171); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 101.295px;"></div>
        <div class="slimScrollRail"
            style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
    <!-- Sidebar -left -->

</div>