<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a th:href="@{/public/dashbord}" class="logo"> <span> <img
                src="assets/images/logo.png" alt="" height="18">
        </span> <i> <img th:src="@{/assets/images/logo_sm.png}" alt="" height="22">
        </i>
        </a>
    </div>

    <nav class="navbar-custom">

        <ul class="list-inline float-right mb-0">
            
            <li class="list-inline-item dropdown notification-list"><a
                class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown"
                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="mdi mdi-bell-outline noti-icon waves-light waves-effect"></i>
            </a> <span class="badge badge-pink noti-icon-badge">4</span>
                <div
                    class="dropdown-menu dropdown-menu-animated dropdown-menu-right dropdown-arrow dropdown-lg">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="m-0">
                            <span class="float-right"><a href="" class="text-dark"><small>Clear
                                        All</small></a> </span>Notification
                        </h5>
                    </div>

                 

                    <!-- All-->
                    <a href="javascript:void(0);"
                        class="dropdown-item text-center text-dark notify-item notify-all">
                        View all <i class="fi-arrow-right"></i>
                    </a>

                </div></li>

            <li class="list-inline-item dropdown notification-list"><a
                class="nav-link dropdown-toggle nav-user" data-toggle="dropdown"
                href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <i class="noti-icon"><img
                        th:src="@{/assets/images/users/avatar-1.jpg}" alt="user"
                        class="img-fluid rounded-circle"></i> <span
                    class="profile-username ml-2 text-dark" th:text="${user.email}"></span> <span
                    class="mdi mdi-menu-down text-dark"></span>
            </a>
                <div
                    class="dropdown-menu dropdown-menu-animated dropdown-menu-right profile-dropdown ">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow">
                            <small></small>
                        </h5>
                    </div>

                    <!-- item-->
                    <a th:href="@{/public/userprofile}" class="dropdown-item notify-item">
                        <i class="mdi mdi-account-circle"></i> <span>Profile</span>
                    </a>

                    <!-- item-->
                  


                    <!-- item-->
                    <a href="/public/logout" class="dropdown-item notify-item">
                        <i class="mdi mdi-power"></i> <span>Logout</span>
                    </a>

                </div></li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button
                    class="button-menu-mobile open-left waves-light waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
          
        </ul>

    </nav>

</div>