  



    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/metisMenu.min.js}"></script>
    <script th:src="@{/assets/js/waves.js}"></script>
    <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>

    <!-- Sweet-Alert  -->
    <script th:src="@{/plugins/sweet-alert2/sweetalert2.min.js}"></script>
    <script th:src="@{/assets/pages/jquery.sweet-alert.init.js}"></script>

    <!-- App js -->
    <script th:src="@{/assets/js/jquery.core.js}"></script>
    <script th:src="@{/assets/js/jquery.app.js}"></script>
    <script th:src="@{/assets/js/datatable.js}"></script>