<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titel}"></title>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}" />

    <!--Morris Chart CSS -->
    <!-- <link rel="stylesheet" th:href="@{/plugins/morris/morris.css}" /> -->

    <!-- sweet alerts -->
    <link th:href="@{/plugins/sweet-alert2/sweetalert2.min.css}" rel="stylesheet" />

    <!-- App css -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/metismenu.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/app.css}" rel="stylesheet" type="text/css" />
    <!-- your custom css -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/assets/js/pixijs.js}"></script>
    <script th:src="@{/assets/js/comman.js}"></script>
    <!-- <script th:src="@{/assets/js/modernizr.min.js}"></script> -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <link th:href="@{https://cdn.datatables.net/v/dt/dt-1.13.7/datatables.min.css}" rel="stylesheet" />
    <link th:href="@{https://cdn.datatables.net/select/1.3.3/css/select.bootstrap.css}" rel="stylesheet" />
    <!-- https://cdn.datatables.net/select/1.3.3/css/select.bootstrap.css -->

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Include DataTables CSS and JS -->
    <link th:href="@{https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css}" rel="stylesheet" />
    <script th:src="@{https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js}"></script>
    <script th:src="@{https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js}"></script>

    <style>
        .loginpagebody {
            background: rgb(188, 158, 4);
            background: linear-gradient(199deg, rgba(188, 158, 4, 1) 0%, rgba(52, 142, 170, 1) 40%, rgba(28, 27, 27, 1) 100%);
        }
    </style>
</head>