<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="profile-bg-picture" style="background-image:url('/img/wildcover.jpeg')">
                <span class="picture-bg-overlay"></span><!-- overlay -->
            </div>
            <!-- meta -->
            <div class="profile-user-box">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="profile-user-img"><img th:src="@{/assets/images/users/avatar-1.jpg}" alt="" class="thumb-lg rounded-circle"></div>
                        <div class="">
                            <h4 class="mt-5 m-b-5 font-18 ellipsis" th:text="${user.email}">Michael A. Franklin</h4>
                            <!-- <p class="text-muted m-b-0"><small  th:text="${user.countryid.name}"></small></p> -->
                        </div>
                    </div>
                   
                </div>
            </div>
            <!--/ meta -->
        </div>
        </div>
    </div>