

</div>

<div>

    <div th:insert="admin\dashboard\commonts.html"></div>
    <div th:if="${error}">
        <div class="alert alert-danger" role="alert" th:text="${error}">

        </div>
    </div>
    <div th:if="${success}">
        <div class="alert alert-primary" role="alert" th:text="${success}">

        </div>
    </div>
    <div th:insert="admin\dashboard\tabController.html"></div>

</div>

</div>
<div th:insert="admin/dashboard/actioncomplain.html"></div>

<script>
    function loadComplainAdmin(id) {
        var formdata = {
            id: id


        }


        dataj = JSON.stringify(formdata);
        $.ajax({
            url: '/admin/getbyComplainID',
            type: 'POST',
            contentType: 'application/json',
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            data: JSON.stringify(formdata),
            success: function (response) {
                console.log(response);
                if (response.review_status === 0) {
                    $("#rreason").hide();
                    $("#aareacson").hide();
                    $("#rediv").hide();
                }
                if (response.review_status != 0) {
                    $("#acnav").hide();


                    loadadminstatus(id);
                }
                //alert(response.pcompId);
                $("#acpid").val(response.pcompId);
                $("#rcpid").val(response.pcompId);
                //rcpid
                //alert(response.complain);

            },
            error: function (xhr, status, error) {
                // Handle error, e.g., show an error message
                alert("Error update MAin category" + xhr.responseText);
                console.error('Error update MAin category:', xhr.responseText);
            }
        });


    }
</script>

<script th:if="${admintypeid == 1}">
    function retoreComplin(id) {
        var formdata = {
            id: id


        }


        dataj = JSON.stringify(formdata);
        $.ajax({
            url: '/admin/retoretheComplain',
            type: 'POST',
            contentType: 'application/json',
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            },
            data: JSON.stringify(formdata),
            success: function (response) {
                showSubmissionNotification("success", "Restore is Completed");
                setTimeout(() => {
                    document.location.reload();
                }, 3000);
            },
            error: function (xhr, status, error) {
                // Handle error, e.g., show an error message
                alert("Error" + xhr.responseText);
                console.error('Error:', xhr.responseText);
            }
        });


    }
</script>