<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="m-t-0 header-title mb-4">Change Password</h4>

                <form  th:object="${changepass}" id="changepasswords" method="post" th:action="@{/admin/changepassword}">


                  
                    <div class="form-row">
                      
                        <div  class="form-group">
                            <label  for="inputAddress" class="col-form-label">OLD Password</label>
                            <input th:field="*{oldpassword}" required   type="password" class="form-control" id="inputAddress" placeholder="oldpassword">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="inputAddress" class="col-form-label">New Password</label>

                            <input th:field="*{newPassword}" required   type="password" class="form-control" id="newpass" placeholder="New password">
                        </div>
                        <div class="form-group">
                            <label for="inputAddress"  class="col-form-label">Confirm Password</label>

                            <input th:field="*{confrimPassword}" required   type="password" class="form-control" id="cpass" placeholder="confrimPassword">
                        </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
      $('.countryselect').selectize({
          sortField: 'text'
      });
      $("#changepasswords").submit(function (e) { 
        if($("#newpass").val() !== $("#cpass").val()){
            e.preventDefault();
         //   alert($("#newpass").val() + ":" + $("#cpass").val() );
            showSubmissionNotification("error", "Password dosen't match with confirm password");
        }
       
        
      });
  });
</script>